<% include ../partials/header %> 
  <header class="jumbotron">
   <div class="container">
     <h1><span class="glyphicon glyphicon-music"></span> Welcome To ShareMuse!</h1>
     <p>View the latest releases</p>
     <p>
      <a class="btn btn-primary btn-lg" href="/songs/new">Add New song</a>
    </p>
    <p>
      <form action="/songs" method="GET" class="form-inline" id="song-search">
        <div class="form-group">
          <input type="text" name="search" placeholder="Song search..." class="form-control">
        </div>
      </form>
    </p>
  </div>
</header>

<div class="row text-center flex-wrap" id="song-grid">
  <% songs.forEach(function(song){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
     <img src="<%= song.image %>">
     <div class="caption">
       <h4><%= song.song_name %></h4>
       <h5><%= song.author_name %></h5>
     </div>
     <p>
       <a class="btn btn-primary" onclick="play();" id="play">Listen</a>
 </p>
</div>
</div>
<% }); %>
</div>

<% include ../partials/footer %>
